/* Universal colors, font sizes, sont families*/

body{
    margin:0;
    padding: 0;

    background: rgb(243, 243, 243);
}
nav{
    color: rgb(83, 77, 77);
    font-family: Lato;
}
p, div{
    color: rgb(83, 77, 77);
    font-family: Lato;
    font-size: 2vh;
}
h2{
    color: rgb(90, 84, 84);
    font-family: Roboto;
    font-size: 4vh;
}
h3{
    color: rgb(90, 84, 84);
    font-family: Roboto;
    font-size: 3vh;
}
h5{
    color: rgb(90, 84, 84);
    font-family: Roboto;
    font-size: 2vh;
}
a{
    display:inline-block;

    color: rgb(83, 77, 77);
    font-family: Lato;
    font-size: 2vh;
    text-decoration: none;
}
li{
    color: rgb(83, 77, 77);
    font-family: Lato; 
    font-size: 2.1vh;
    list-style: none;

    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Divs,Header and Footer*/

/* Header */
header{
    height: 80vh;
    margin-top: 0;

    background: white;
}
header a{
    margin: 1vw 0.5vw 0vw 0.5vw;
}
header nav img{
    width: 2vw;
}
header div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 40vh;
}
header div #Logitech{
    margin-top: 5vh;
}
header div>img{
    width: 34vw;
}


/* Service */
#service{
    height: 120vh;
    padding: 0vh 2vw 0vh 2vw;

    background: white;
}
#service>h5, #service>h2{
    text-align: center;
}
#service>p{
    text-align: center;
}
#service ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#service li{
    width:18vw;
    height:42vh;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;

    background: white;
    text-align: center;
}
#service li:first-child{
    background-image:linear-gradient(to right, rgb(61, 55, 241), 
                   rgb(123, 119, 240));
}
#service li:first-child>p, #service li:first-child>h5{
    color: white;
}
#service img{
    width: 4vw;
    height: 4vw;
    margin-top: 4vh;
}


/* Video Conference */
#video-conference{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0vh 0vw 0vh 15vw;

    background: white;
}
#video-conference img{
    width: 26vw;
    height: 26vw;
    margin: 12vh 0 12vh 0;
}
#video-conference p{
    width: 30vw;
    margin-top: 8vh;
}
#video-conference h3{
    width: 30vw;
    margin-top: 20vh;
}


/* Experience */
#experience{
    height: 80vh;
}
#experience>h2{
    margin-bottom: 10vh;

    color: rgb(83, 77, 77);
    text-align: center;
}
#experience>ul{
    display: flex;
    flex-wrap: wrap;
}
#experience li{
    width:30vw;
    height:24vh;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    padding-right: 0.5vw;
}
#experience img{
    width: 7vw;
    margin: 4vh 1vw 0vh 1vw;
    float:left;
}


/* Products */
#products{
    height: 100vh;
}
#products div{
    width: 12vw;
    float: left;
}
#products div h3{
    display: block;

    width: 11.5vw;
    margin: 6vh 0vw 6vh 0vw;

    color: rgb(90, 84, 84);
    font-size: 2.5vh;

    transition: color 1s, border-bottom 1s;
}
#products div h3:hover{
    color:rgb(61, 55, 241);
    border-bottom: rgb(61, 55, 241) 1px solid;
}
#products img{
    width: 12vw;
    margin-top: 4vh;
}
#products ul{
    display: flex;
    flex-wrap: wrap;

    width: 50vw;
}

#products li{
    width: 20vw;
    height: 44vh;
    margin: 1vh 1vw 1vh 1vw;

    text-align: center;
}


/* Logos */
#logos{
    display: flex;
    justify-content: center;

    background: white;
}
#logos img{
    width: 12vw;
    margin: 0vh 2vw 0vh 0vw;
}


/* Business */
#business{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 125vh;
}
#business div:first-of-type{
    height: 125vh;

    background: transparent;
}
#business #div2{
    margin-top: 20vh;
}
#business div{
    margin: 1vh 1vw 1vh 1vw;

    background: white;
}
#business ul{
    width: 94%;
    margin-left: 3%;
    padding: 0;
}
#business div>h5, #business div>p{
    padding-left:0.5vw;
}
#business li{
    height: 5vh;

    line-height: 5vh;
}
#business li>img{
    width: 1vw;
    margin: 0vh 0.5vw 0vh 0.5vw;
}


/* Review */
#review{
    height: 80vh;
}
#review>h2, #review>h5{
    text-align: center;
}
#review #Icon1{
    width: 3vw;
    height: 3vw;
    margin: 2vh 2vw 0vh 0vw;

    opacity: 0.5;

    border: black 1px solid;
    border-radius: 50%;
}
#review #Icon2{
    width: 4vw;
    height: 4vw;
    margin: 2vh 2vw 0vh 0vw;

    opacity: 0.75;

    border: black 1px solid;
    border-radius: 50%;
}
#review #Icon3{
    width: 6vw;
    height: 6vw;
    margin: 0vh 2vw 0vh 0vw;

    border: black 1px solid;
    border-radius: 50%;
}
#review #Icon4{
    width: 4vw;
    height: 4vw;
    margin: 2vh 2vw 0vh 0vw;

    opacity: 0.75;

    border: black 1px solid;
    border-radius: 50%;
}
#review #Icon5{
    width: 3vw;
    height: 3vw;
    margin: 2vh 2vw 0vh 0vw;

    opacity: 0.5;
    
    border: black 1px solid;
    border-radius: 50%;
}
#review a{
    margin-top: 10vh;
    margin: 10vh 1vw 0vh 1vw;
}
#review ul{
    padding: 0;
}
#review li{
    width: 40vw;
    height: 24vh;
    padding: 1vh 1vw 1vh 1vw;

    text-align: center;
}
#review li img{
    width: 8vw;
}
#review div{
    display:flex;
}


/* Footer */
footer{
    display: flex;

    padding-left: 15vw;

    background: white;
}
footer div{
    width: 10vw;
    margin: 0vh 1vw 0vh 1vw;

    flex-grow: 1;
}
footer div>img{
    width: 1vw;
    margin-right: 0.5vw;
}
footer div>a{
    margin: 2vh 0.5vw 2vh 0.5vw;
}
footer #div1{
    width: 18vw;
}
footer #div5{
    width: 16vw;
}
footer #div5>p{
    margin-top: 21vh;
}
footer #div5 input[type="email"]{
    width: 10vw;
    height:6vh;

    border: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer #div5 button{
    width: 6vh;
    height: 7vh;
    margin-left:-0.23vw;
    
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    background-color: rgb(61, 55, 241);
    transition: background-color 0.5s;
}
footer #div5 button:hover{
    background-color: rgb(31, 25, 211);
    transition: background-color 0.5s;
}
footer #div5 img{
    width: 1.5vw;
    margin-top: 0vh;
}
footer #div5 form{
    padding-top: 3vh;
}

/* Classes*/

.button{
    width: 7em;
    height: 2em;
    margin-bottom: 1vh;

    border: lightgrey 1px solid;
    border-radius: 12px;

    color: rgb(61, 55, 241);
    background: white;

    text-align: center;
    line-height: 2em;

    transition: background-image 0.5s, color 0.5s;
}
.button:hover{
    background-image: linear-gradient(to right, rgb(61, 55, 241),
        rgb(123, 119, 240));
    color: white;
}


.purpleText{
    color: rgb(61, 55, 241);
}


.purpleTextLink{
    color: rgb(83, 77, 77);
    transition: color 0.5s;
}
.purpleTextLink:hover{
    color: rgb(61, 55, 241);
    transition: color 0.5s;
}


/* Responsive */

@media only screen and (max-width: 499px) and (min-width: 320px){
    /* For Phones */
    
    /* Div, Header and Footer */
    #service,#experience,#video-conference,#logos,#products,#business,#review,header,footer{
        padding: 0vh 0vw 0vh 0vw;
    }


    /* Header */
    header div{
        height: 80vh;
        align-items: center;
    }
    header div>img{
        width: 60vw;
    }
    nav{
        margin:0 0 2vh 0vw;
        text-align: center;

        font-size: 2vh;
    }
    header nav img{
        width: 4vw;
    }


    /* Service*/
    #service{
        height: 160vh
    }
    #service>p{
        padding: 0 10vw 0 10vw;
    }
    
    #service ul{
        padding:0 6vw 0 6vw;
    }
    #service li{
        width: 38vw;
        height:40vh;
    }
    #service li>img{
        width: 10vw;
        height: 10vw;
        margin-top: 3vh;
    }


    /* Video Conference */
    #video-conference{
        height: 200vw;
        padding-left: 12vw;
    }
    #video-conference img{
        width: 80vw;
        height: 80vw;
        margin-bottom: 0;
    }
    #video-conference p, #video-conference h3{
        width: 80vw;
    }

    /* Experience */
    #experience{
        height: 120vh;
    }
    #experience li{
        width: 40vw;
        height: 45vh;
        padding-left: 1vw;
    }
    #experience li>img{
        width: 20vw;
        height: 20vw;
        margin-left: 12vw;
        float: none;
    }


    /* Products */
    #products ul{
        width: 69vw;
    }
    #products li{
        width: 32vw;
        height: 38vh;
    }
    #products li>img{
        width: 18vw;
        height: 18vw;
    }
    #products div{
        width: 17vw;
        margin-left: 1vw;;
    }


    /* Logos */
    #logos{
        height: 10vh;
    }


    /* Business */
    #business{
        margin-left: 5vw;
    }
    #business div:first-of-type{
        width: 40vw;
        height: 60vh;
        margin: 1vh 1vw 1vh 1vw;
    }
    #business #div2{
        margin: 1vh 1vw 1vh 1vw;
    }
    #business div{
        width: 40vw;
        height: 60vh;
    }
    #business li{
        height: 10vh;
        line-height: 5vh;
    }
    #business li img{
        width: 3vw;
        height: 3vw;
    }
    #business div>img{
        width: 40vw;
    }


    /* Review */
    #review{
        height: 80vh;
    }


    #review #Icon1{
        width: 10vw;
        height: 10vw;
    }
    #review #Icon2{
        width: 14vw;
        height: 14vw;
    }
    #review #Icon3{
        width: 18vw;
        height: 18vw;
    }
    #review #Icon4{
        width: 14vw;
        height: 14vw;
    }
    #review #Icon5{
        width: 10vw;
        height: 10vw;
    }

    
    #review li{
        width: 60vw;
        height: 46vw;
    }
    #review li img{
        width: 20vw;
    }
    #review div:first-of-type{
        margin-left: 12vw;
    }
    #review div:last-of-type{
        margin: 10vh 0vw 0vh 9vw;
    }
    #review a>img{
        width: 8vw;
        height: 8vw;
    }


    /* Footer */
    footer{
        height: 60vh;
    }
    footer div img{
        width: 2vw;
        height: 2vw;
    }
    footer #div5 img{
        width: 4vw;
        height: 4vw;
    }
    footer #div5 input::placeholder{
        font-size: 0px;
    }
  }

@media only screen and (min-width: 500px) and (max-width: 1023px) {
    /* For tablet: */

/* Div, Header and Footer*/
#service,#experience,#video-conference,#logos,#products,#business,#review,header,footer{
    padding: 0vh 12vw 0vh 12vw;
}

nav{
    margin-bottom: 15vh;
}


/* Service */
#service li{
    width:24vw;
    height:38vh;
}

#service ul{
    padding:0;;
}


/* Video Conference */
#video-conference{
    height: 60vh;
}

#video-conference p{
    width: 40vw;
    margin-top: 6vh;
}
#video-conference h3{
    width: 40vw;
    margin-top: 12vh;
}


/* Products */
#products li{
    width: 24vw;
    height: 36vh;
}
#products ul{
    width: 55vw;
}


/* Logos */
#logos{
    height: 20vh;
}


/* Business */
#business div{
    width: 24vw;
    height: 58vh;
}
#business li{
    font-size: 1.6vh;
}
#business div>img{
    width: 24vw;
}


/* Review*/
#review div:first-of-type{
    margin-left: 24vw;
}
#review div:last-of-type{
    margin: 10vh 0vw 0vh 12vw;
}
#review a>img{
    width: 3vw;
    height: 3vw;
}


/* Footer */
footer{
    height: 50vh;
}
  }

@media only screen and (min-width: 1024px) {
    /* For Laptop: */
    
    /* Div, Header and Footer*/
    #service,#experience,#video-conference,#logos,#products,#business,#review,header,footer{
        padding: 0vh 16vw 0vh 16vw;
    }
    nav{
        margin:0 0 15vh 6vw;
    }

    
    /* Service */
    #service ul{
        padding: 0;
    }
    #service li{
        width:18vw;
        height:42vh;
    }


    /* Video Conference */
    #video-conference{
        height: 80vh;
    }


    /* Products */
    #products ul{
        width: 50vw;
    }
    #products li{
        width: 20vw;
        height: 44vh;
    }


    /* Logos */
    #logos{
        height: 26vh;
    }


    /* Business */
    #business div{
        width: 20vw;
        height: 60vh;
    }
    #business div>img{
        width: 20vw;
    }


    /* Review */
    #review div:first-of-type{
        margin-left: 19vw;
    }
    #review div:last-of-type{
        margin: 10vh 0vw 0vh 9vw;
    }
    #review a>img{
        width: 2vw;
        height: 2vw;
    }


    /* Footer */
    footer{
        height: 40vh;
    }
  }